# Python bytecode and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
env/
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# IDE / editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs / debugging
*.log
*.pid
*.seed
*.state
